
<div class="container">
  <div class="forms-search" id="form-form">
    <div>
      <%= form_tag tracks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id:"form-start",
          placeholder: "Search for tags"
        %>
    </div>
    <div>
      <%= button_tag "Search" , class: "btn-search"%>
      <% end %>
    </div>
  </div>

  <ul class="list-unstyled">
    <% @tracks.each do |track| %>
      <li> <%= track.name %> </li>
    <% end %>
  </ul>
</div>
