
<div class="container">
  <div class="search-form">
    <div class="input-field">
      <%= form_tag tracks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id:"form-start",
          placeholder: "Search for tags"
        %>
    </div>
    <div>
      <% end %>
    </div>
  </div>

  <ul class="list-unstyled list-item">
    <% @tracks.each do |track| %>
      <li> <%= link_to track.name , track_path(track) %> </li>
    <% end %>
  </ul>
</div>
